.container{
    box-shadow:0 0 5px 0 #d3d3d3 ;
    margin-top: 0;
}
.container div{
    text-align: center;
}
.container div.gqdt p.name{
    padding-top: 80px;
    line-height: 80px;
    font-size: 50px;
    color: #333333;
}
.container div.gqdt p.introduce{
    line-height: 26px;
    font-size: 16px;
    color: #333333;
}
.container div.gqdt span.number{
    line-height: 80px;
    font-size: 50px;
    color: #ff4a00;
}
.container div.gqdt span.yuan{
    font-size: 20px;
    color: #ff4a00;
}
.container div.gqdt p.ljgm{
    display:block;
    width: 120px;
    height: 35px;
    border-radius: 5%;
    color: #ffffff;
    padding-top: 5px;
    box-sizing: border-box;
    background-color: #ff4a00;
}
.container div.gqdt p.ljgm:hover{color: #ff4a00;background-color: #efefef; }
.container div.gqdt div.hongdian{
    width:auto;
    height: 900px;
    background: #ffffff url(../images/hz-29.jpg) no-repeat;
    background-position: center 100% ;
}
.container div.gqdt div.hongdian i.hd_logo{
    display: block;
    float: left;
    margin-left: 25%;
    width: 119px;
    height: 108px;
    background: transparent url(../images/reddot.jpg)no-repeat center center;
}
.container div.gqdt div.the_two{
    width:auto;
    height: 900px;
    background: #ececec url(../images/hz-24.jpg) no-repeat;
    background-position: center 100% ;
}
.container div.gqdt div.the_three{
    width:auto;
    height: 1100px;
    background: #f2eeef url(../images/hz-25.jpg) no-repeat;
    background-position: center 100% ;
}
.container div.gqdt div.the_four{
    width: 2114px;
    height: 1252px;
    background: #f2eeef url(../images/dianying.png) no-repeat center center;
    background-size: 100%;
}
.container div.gqdt div.the_five{
    width: 2114px;
    height:970px;
    background: #f2eeef url(../images/jiating.png) no-repeat center center;
    background-size: 100%;
}
.container div.gqdt div.gift{background-color: #fcfcfc;}
.container div.gqdt div.gift i.gift_pic{
    display: block;
    width: 535px;
    height: 380px;
    background: transparent url(../images/hz-28.jpg) no-repeat center center;
}
.container div.gqdt div.gift div{
    margin-top: 90px;
    padding-bottom: 90px;
}
.container div.gqdt div.gift div ul{ width: 1300px;}
.container div.gqdt div.gift div ul li{
    float: left;
    width: 20%;
    box-sizing: border-box;
    border-right: 1px solid #d3d3d3;
}
.container div.gqdt div.gift div ul li i{
    display: block;
    margin-left: 93px;
    width: 70px;
    height: 70px;
}
.container div.gqdt div.gift div ul li i.sj{
    background: transparent url(../images/hzs-10.jpg) no-repeat center center;
}
.container div.gqdt div.gift div ul li i.py{
    background: transparent url(../images/hzs-11.jpg) no-repeat center center;
}
.container div.gqdt div.gift div ul li i.gn{
    background: transparent url(../images/hzs-12.jpg) no-repeat center center;
}
.container div.gqdt div.gift div ul li i.pz{
    background: transparent url(../images/hz-13.jpg) no-repeat center center;
}
.container div.gqdt div.gift div ul li i.cpgs{
    background: transparent url(../images/gongyi.png) no-repeat center center;
}
.container div.gqdt div.gift div ul li span{font-size: 20px;line-height: 50px;}
.container div.gqdt div.gift div ul li span:hover{color: #ff4a00;}
.container div.pro{
    width: 1300px;
    margin-bottom:50px;
}
.container div.pro ul{margin-top: 40px;margin-bottom: 40px}
.container div.pro ul li{
    float: left;
    width: 33.3%;
    border-right: 1px solid #e9e9e9;
    box-sizing: border-box;
}
.container div.pro ul li.last_pro{
    border: 0;
}

.container div.pro ul li i{
    display: block;
    width: auto;
    height: 252px;
    margin-bottom: 30px;
}
.container div.pro ul li i.shoubing{
    background: transparent url(../images/shoubing.jpg) no-repeat center center;
}
.container div.pro ul li i.dianshi{
    background: transparent url(../images/common-footer-mitv2.jpg) no-repeat center center;
}
.container div.pro ul li i.hezi{
    background: transparent url(../images/common-footer-mibox.jpg) no-repeat center center;
}

.container div.pro ul li p.pro_name{
    font-size: 25px;
    color: #333333;
    line-height: 55px;
}
.container div.pro ul li p.pro_introduce{
    font-size: 18px;
}
.container div.pro ul li p.pro_price{
    color: #ff4a00;
    line-height: 70px;
    font-weight: bold;
}