.navigation{width: 1300px;}
.navigation div.nav_left{  width: 20%; float: left;}
.navigation div.nav_right{  width: 80%; float: right;}

/*µ¼º½¿é×ó±ß*/
div.nav_left ul li.allCategories{
    font-size: 20px;
    color: #ffffff;
    background-color: #ff4a00;
    line-height: 56px;
    border:none;
    padding-left: 30px;
    padding-top: 0;
    padding-bottom: 0;
}

/*µ¼º½¿éÓÒ±ß*/
.navigation div.nav_right ul.top{
    width: 1040px;
    background-color: #2a2a2a;
    margin: 0 0;
    text-align: center;
}
.navigation div.nav_right ul.top li{
    display: block;
    float: left;
    width: 10%;
    font-size: 20px;
    color: #ffffff;
    line-height: 56px;
    border:none;
}
.navigation div.nav_right ul.top li:hover{ background-color: #ff4a00;}


