.navigation{
    margin-top: 30px;
    width: 1220px;
}

.navigation ul li{
    margin-right: 25px;
    float: left;
    color: #333333;
}
.navigation ul li:before{
    content: "";
    width: 1px;
    height: 1px;
    margin-right: 10px;
    margin-bottom: 5px;
    background-color: #333333;
    display: inline-block;
}
.navigation ul li.first_nav a{color: #141414;font-weight: bold;}
.navigation ul li.first_nav:before{
    content: "";
    width: 0;
    height: 0;
    display: inline-block;
}
.navigation ul li.first_nav a:hover{color: #141414}
.navigation ul li a{
    font-size: 15px;
    color: #333333;
}
.navigation ul li a:hover{
    color:#ff6083 ;
}





.navigation div.shopping_cart{
    position: relative;
    margin-top: -20px;
    margin-left: 91%;
}
.navigation div.shopping_cart div.cart{}
.navigation div.shopping_cart div.cart i.cart_icon{
    display: inline-block;
    position: absolute;
    width: 19px;
    height: 23px;
    background: transparent url(../images/spcart.png) no-repeat center center;
}
.navigation div.shopping_cart div.cart span{
    margin-left: 25px;
    color: #9e9e9e;
}
.navigation div.shopping_cart div.cart span.number{
    display: inline-block;
    text-align: center;
    margin-left: 2px;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    background-color: #9e9e9e;
    color: #e4e4e4;
    border-radius: 50%;
}


.navigation div.shopping_cart div.cart_content{
    position: absolute;
    margin-top: 15px;
    margin-left: 60%;
    display:none;
}
.navigation div.shopping_cart:hover div.cart_content{display: block;}
.navigation div.shopping_cart div.cart_content img{
    display: block;
}
.navigation div.shopping_cart div.cart_content img.top{margin-left: 15px}
.navigation div.shopping_cart div.cart_content img.bottom{
    margin-top: -1px;
    border-radius: 5%;
}
